<div id="product-image-root" class="product-image">

    <div class="row g-3">

        <!-- THUMBNAILS -->
        <div class="col-3">
            <div id="product-image-thumbs" class="product-image__thumbs d-flex flex-column gap-2">
                {% for img in product.images.all %}
                    <img src=" {{product.thumbnail.url }}"
                         class="product-image__thumb"
                         onclick="productImageChange('{{product.thumbnail.url}}', this)">
                {% endfor %}
            </div>
        </div>

        <!-- MAIN IMAGE -->
        <div class="col-9">
            <div class="product-image__main-wrapper position-relative">

                <!-- EDIT -->
                <a href="#"
                   class="product-image__edit position-absolute top-50 start-0 translate-middle-y"
                   title="Edit">
                    <i class="bi bi-pencil-square"></i>
                </a>

                <!-- DELETE -->
                <a href="#"
                   class="product-image__delete position-absolute top-50 end-0 translate-middle-y"
                   title="Delete">
                    <i class="bi bi-trash"></i>
                </a>

                <div class="ratio ratio-4x3 product-image__ratio">
                    <img id="product-image-main"
                         src="{{product.thumbnail.url}}"
                         class="product-image__main-img"
                         alt="">
                </div>

            </div>
        </div>

    </div>
</div>

<script id="pimg002">
function productImageChange(src, el) {
    document.getElementById("product-image-main").src = src;

    // active thumbnail highlight
    document.querySelectorAll(".product-image__thumb").forEach(img => {
        img.classList.remove("product-image__thumb--active");
    });
    el.classList.add("product-image__thumb--active");
}
</script>